body{
  padding: 1px;
}

#activity-stream
{
  width:100%;
}
.centered
{
  text-align:center;
}
.activity
{
  position:relative;
  border-bottom:1px solid #f7f7f9;
  width:600px;
  min-height:80px;
  margin-bottom:10px;
}
.activity:hover
{
  background-color:#E8F2F6;
}
.header
{
  position:relative;
  left:80px;
}
.avatar
{
  position:absolute;
  top:10px;
  left:10px;
}
.body
{
  padding-top: 2px;
  position:relative;
  left: 80px;
  max-width:500px;
}
.header {
  padding-top:5px;
}
.inner-content
{
  position:relative;
  display:inline-block;
  max-width:auto;
}
.content
{
  position:relative;
  max-width:500px;
  margin:0px;
  padding: 3px;
  background-color: #f7f7f9;
}
.content-header
{
  display:inline-block;
  position:relative;
  font-weight:bold;
}
.content-body
{
  display:inline-block;
  position:relative;
  word-wrap:break-word;
  max-width:400px;
}
.footer
{
  position:relative;
}
.published
{
  position:relative;
  margin-right: 15px; 
}
.actions
{
  position:relative;
}
.avatar-image
{
  height:50px;
  width:50px;
}
.object
{
  vertical-align:top;
  display:inline-block;
  position:relative;
}
.object-image
{
  display:inline-block;
  position:relative;
  max-height:60px;
  max-width:60px;
  margin-right: 10px;
}
.embedded {
}
