<?xml version="1.0" encoding="UTF-8"?>
<Module specificationVersion="1">
  <ModulePrefs title="Jive Code Runner II"
               description="Quick app to execute OpenSocial and API 'gists'."
               author="Mark Weitzel"
               author_affiliation="OpenSocial Foundation"
               author_email="weitzelm.work@gmail.com">

    <Require feature="dynamic-height" />
    <Require feature="osapi"/>
    <Require feature="settitle"/>
    <Require feature="views" />
    <Require feature="opensocial" />
    <Require feature="opensocial-data" />
    <Require feature="setprefs" />
    <Optioanl feature="minimessage" />
    <Optional feature="locked-domain"/>
    <Optional feature="oauthpopup"/>
    <Optional feature="dynamic-width" />
    <Optional feature="embedded-experiences"/>
    <Optional feature="selection"/>
    <Optional feature="open-views"/>
    <Optional feature="actions">
    </Optional>


    <!-- Icons: 3 sizes, 16x16, 48x48, 128x128 -->
    <Link rel="Icon"       href="images/icon16.png" />
    <Link rel="MediumIcon" href="images/icon48.png" />
    <Link rel="LargeIcon"  href="images/icon128.png" />

  </ModulePrefs>
  <UserPref name="jiveGistFileRootUrl"  display_name="Jive Gist Index Location" datatype="string"   default_value="http://apphosting.jivesoftware.com/apps/dev/jivegists/" required="false" />
   <UserPref name="jiveDocListFileRootUrl"  display_name="Jive Docs Index Location" datatype="string" default_value="http://apphosting.jivesoftware.com/apps/dev/jivegists/" required="false" />
  <UserPref name="testUserPref-string"  display_name="Used in userpref Jive Gist - String" datatype="string" default_value="String user pref" required="false" />
  <UserPref name="testUserPref-boolean" display_name="Used in userpref Jive Gist - Boolean" datatype="boolean" default_value="true" required="false" />
  <Content type="html" view="home" href="hello.html" preferred_height="400" />
  <Content type="html" view="default, canvas, embedded" href="canvas2.html" />
 
</Module>
